.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid white;
  position: relative;
/*  border-radius: 15px;*/
}
th {
  text-align: left;
}

ul {
  list-style-type: none;
}

.error {
  color: red;
  text-align: center;
}

.create-form form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.create-form input {
  margin-bottom: 5px;
  margin-top: 3px;
}

.create-form label{
  display: inline-block;
}

.login,
.login #login {
  background-color: #8826C9;
  color: white;
  font-size: 75%;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
}

.login form {
  margin-left: 10px;
}

.login #button {
  position: absolute;
  top: 10px;
  left: 75px;
}

.login #register,
.login #logout {
  position: absolute;
  top: 15px;
  right: 20px;
}

.upper {
  display: inline;
}

.login #login {
  font-size: 120%;
  line-height: 100%;
  margin-left: 20px;
}

.login input {
  margin-left: 2px; 
  margin-right: 2px;
}

#welcome {
  text-align: center;
  margin-bottom: 0;
}

#scatt {
  margin-top: 0;
  text-align: center;
}

#scatt span {
  text-decoration: underline;
}


.button {
  padding:5px;
  background-color: #8826C9;
  border: 1px solid #666;
  border-radius: 15px;
  color: white;
  text-decoration: none;
}
#smile {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.create {
  text-align: center;
}

h1, h3  {
  text-align: center;
  color: #8826C9;
}

h2  {
  color: #8826C9;
}

.survey-response-form input[type="radio"] {
  color: #8826C9;
  padding: 10px;
}

.photo {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 6px solid #8826C9;
}

.created-survey-listing table {
  border: 8px solid #8826C9;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  text-align: center;

}

.created-survey-listing th, tr{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 150%;
}

.created-survey-listing th{
  color: #8826C9;
}

.created-survey-listing td{
  text-align: left;
  padding-left: 30px;
}

.created-survey-listing a{
  text-decoration: none;
}

#csurvey-button1 {
  margin-bottom: 20px;
}

#csurvey-button2, #submit-photo, #squestion-button1, 
#sresponse-button1, #sresponse-button2, 
#add-question-button1, #finalize_survey_button {
  float: left;
  position: relative;
  padding:5px;
  background-color: #8826C9;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  color: white;
  text-decoration:none;
  margin-top: 0;
/*  -webkit-box-shadow: inset 0 0 20px #C683F2;
  -moz-box-shadow: inset 0 0 20px #C683F2;
  box-shadow: inset 0 0 0px #C683F2;*/
} 

#csurvey-button3, #sresponse-button3{  
  float: right;
  position: relative;
  right: 35%;
  padding:5px;
  background-color: #8826C9;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  color: white;
  text-decoration:none;
  margin-top: 0;
}

#sresponse-button3{  
  right: 60%;
}

#question_results th:nth-child(3) {
  text-align: right;
}

#question_results th:nth-child(2) {
  text-align: center;
}

#question p { 
  margin-top: 0px;
  font-size: 120%;
  margin-bottom: 2%;
}

#question h2 { 
  margin-bottom: 0px;
}

