.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

ul {
  list-style-type: none;
}

.login,
.login #login {
  background-color: #8826C9;
  color: white;
  font-size: 75%;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
}

.login form {
  margin-left: 10px;
}

.login #button {
  position: absolute;
  top: 10px;
  left: 75px;
}

.login #register,
.login #logout {
  position: absolute;
  top: 15px;
  right: 10px;
}

.upper {
  display: inline;
}

.user_info a {
  line-height: 100%;
}

#welcome {
  text-align: center;
  margin-bottom: 0;
}

#scatt {
  margin-top: 0;
  text-align: center;
}

#scatt span {
  text-decoration: underline;
}

#smile {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.create {
  text-align: center;
}

.photo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 80px;
  right: 150px;
}

#question_results th:nth-child(3) {
  text-align: right;
}

#question_results th:nth-child(2) {
  text-align: center;
}

