

<form id="upload_image" action="/profile/<%= @user.id %>/edit/<%= @photo.id %>" method="POST" enctype="multipart/form-data">
  <input id="choose-photo-button" type="file" name="image" />
  <input id="choose-photo-button2" type="submit" value="Upload!">
</form>