

<form id="upload_image" action="/profile/<%= @user.id %>/edit/<%= @photo.id %>" method="POST" enctype="multipart/form-data">
  <p><input type="file" name="image" /></p>
  <input id="submit-photo" type="submit" value="Upload!">
</form>