<div id="container">

<h1>Welcome to Survey Creating and Taking Thingy!!</h1>

<p><img class="smile" src="Smiley-face.jpg"></p>
<p>Need to create a new survey?</p>
<a href="/create"><button id="create">Create New Survey</button></a>

</div>
