<form action="/register" method="POST">
  <label id="email" for="email">Email address: <input id="email" type="text" name="email" placeholder="e.g., firefly@theLight.com"></label><br>
  <label id="password" for="password">Password: <input id="password" type="password" name="password" placeholder="enter password"></label><br>
  <br>
  <input id="register-user" type="submit" value ="Submit">
</form>