<form action="/register" method="POST">
  <label for="email">Email address: <input id="email" type="text" name="email" placeholder="e.g., firefly@theLight.com"></label><br>
  <label for="password">Password: <input id="password" type="password" name="password" placeholder="enter password"></label><br>
  <input type="submit" value ="Submit">
</form>